html 			{width:100%; height:100%;
				 padding:0; margin:0;
                 font-size:62.5%;}
body			{width:100%; height:100%;
				 padding:0; margin:0;
				 background:white url("../images/fond.jpg") repeat;}


.frame			{height : 100%;
                 margin : 0px;
                 overflow : scroll;
				}

#left_frame		{float : left;
				 width : 200px;
				 }

#right_frame	{padding: 0px;
				 }


.dragbar		{float: right;
				 height: inherit}
.dragbar div	{
					background-color:black;
					cursor: col-resize;
					visibility:hidden;
					width: 1px;
					height: 100%;
   				 }

.dragbar:hover div {visibility: visible;
				}

#ghostbar		{
					width:3px;
					background-color:#000;
					opacity:0.5;
					position:absolute;
					cursor: col-resize;
					z-index:999
				}

.menuLink 		{font-size:1.7rem;}

.bloc			{width:200px; padding:1%; margin:0; 				 font-family: Georgia, "Times New Roman", serif;
				 font-size:1.2rem;
				 line-height:145%; text-align:left;
				 float:left;
				 Page-Break-Inside:avoid}

#toggle_button 	{font-size:1.7rem;}

.sansSerif		{line-height:140%;
				font-family: arial, sans-serif; font-size:1.2rem; }
.name			{padding:0; text-transform:uppercase; letter-spacing:1px;
				 color:#6D0000; font-size:1.7rem; font-weight:bold; }
.name:first-letter {font-size:2.4rem;}
.trad			{float:right; margin:6px 0 6px 0;
				 font-family: verdana, arial, sans-serif; font-size:1.2rem;
}
.trad a:link, .trad a:hover, .trad a:visited {color:#B30303; font-weight:normal;}

.level			{padding:2px 0 8px 0;}
.type			{padding:2px 0 2px 0;}
.ability		{float:left; margin:0 15px 0 5px; text-align:center}
.description	{padding:8px 0 8px 0; text-align:justify;}
.red			{color:#6D0000;}
.rub			{color:#6D0000; margin:10px 0 5px 0; border-bottom:1px solid #B30303; font-size:1.4rem; text-transform:uppercase; font-weight:bold;}
.rub:first-letter{font-size:1.6rem;}
.source   		{padding:8px 0 4px 0; text-align:left; letter-spacing:-1px;
				 font-family: verdana, arial, sans-serif; font-size:1.0rem;
                }

p				{padding:0; margin:3px 0 3px 0;}

div img.sep-monster	{margin:3px 0 3px 0; }

@media print {
	html 		{font-size:50%;}
}

@media only screen and (max-device-width:980px) { 
	html 		{font-size:87.5%;}
	.bloc		{width:100%; box-sizing:border-box;}
	.trad		{float:none; padding-left:0px;}
}
